
{% extends "base.html" %}

{% block title %}
    Field1
  
{% endblock title %}


{% block body %}
<div class="container">
  <br>
  <br>
    <section class="h-100 h-custom" style="background-color: #eee;border-radius: 5%;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
              <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;">
                <div class="card-body p-5">
      
                  <center><p class="lead fw-bold mb-5" style="color: #f37a27;">Khela Hobe</p></center>
      
                  <div class="row">
                   <center><b><p style="color:#f37a27">Motijheel United VS My Team</p></b></center>
                        <center><b><p>Venue : Field1</p></b></center>

                    
                  </div>

                  <center>
                    <img src="/static/sm1.jpg" alt=".." style="height: 350px;width: 440px;border-radius: 2%;">
                  </center>

                  
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>


  

{% endblock body %}