
{% extends "base.html" %}

{% block title %}
  Bangla Payment
  
{% endblock title %}


{% block body %}

<div class="container">
  <br><br><br><br>

  
<div class="container text-xs-center">
    <div class="row text-xs-center">
        <div class="col-md-4">
        </div>

        <div class="col-md-4 plays-schedule">
            <div class="well">
                <div class="plays-schedule-title">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Upcoming match</h5>
                        </div>
                    </div>
                </div>
                <div class="plays-schedule-items">
                    <div class="row plays-team">
                        <div class="col-md-5">
                            <img src="http://www.prepbootstrap.com/Content/images/template/gamesschedule/england.jpg" alt="England"><span>Motijheel Boys</span>
                        </div>
                        <div class="col-md-2">
                            <h4>
                                <span class="fa fa-arrow-circle-left "></span>
                                <span class="fa fa-futbol-o fa-3"></span>
                            </h4>
                        </div>
                        <div class="col-md-5">
                            <img src="http://www.prepbootstrap.com/Content/images/template/gamesschedule/spain.jpg" alt="Spain"><span>Motijheel kings</span>
                        </div>
                    </div>
                    <div class="row plays-info">
                        <div class="col-md-12">
                            <p>
                                <span class="fo"></span>
                                <span class="fa fa-calendar fa-lg colored-tex"></span>
                                21 june, 2023 
         <span class="fa fa-clock-o fa-lg colored-tex"></span>
                                (<small>15:00 local | 03:00 GMT</small>)
                            </p>
                            <p class="plays-dash"></p>
                            <p><small>D-BOX</small></p>
                        </div>
                    </div>
                </div>

        

            </div>
        </div>
    </div>

</div>


<br><br><br><br><br><br><br><br><br><br><br>
</div>
  

{% endblock body %}