
{% extends "base.html" %}

{% block title %}
  Bangla Payment
  
{% endblock title %}


{% block body %}

<div class="container">
  <br><br><br><br>


  <section class="gradient-custom" style=" background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
  linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
  linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
  radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
  radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
background-blend-mode: screen, color-dodge, overlay, difference, normal;
  ">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center py-5">
        <div class="col-md-7 col-lg-5 col-xl-4">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
            
                <h1 style=" margin-top: 0px;
                margin-bottom: 50px;
                text-align: center;
                font-family: sans-serif;
                font-size: 3rem;
                letter-spacing: 0.15rem;
                text-transform: uppercase;
                color: #fff;
                text-shadow: -4px 4px #ef3550,
                             -8px 8px #f48fb1,
                             -12px 12px #7e57c2,
                             -16px 16px #2196f3,
                             -20px 20px #26c6da,
                             -24px 24px #43a047,
                             -28px 28px #eeff41,
                             -32px 32px #f9a825,
                             -36px 36px #ff5722;">Payment successful</h1>
                        </div>
                      </div>
                    </div>
                  </div>
   


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<br><br><br>
</div>
  

{% endblock body %}